<ion-header>
  <ion-toolbar>
    <ion-title>Help & Support</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p style="text-align: justify;">
    Untuk melakukan voting Anda dapat mengikuti langkah-langkah berikut ini:
    <br>
    1. Buka halaman home
    <br>
    2. Klik pada pemilihan yang Anda cari
    <br>
    3. Klik details pada kandidat yang akan Anda pilih
    <br>
    4. Klik vote jika anda sudah yakin dengan pilihan Anda
  </p>
</ion-content>