<ion-header>
  <img src="../../assets/logo-light.svg">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="banner">
    <img src="../../assets/banner.svg" />
  </div>

  <!-- create list of event -->
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size="12">
        <!-- button add  -->
        <ion-button color="primary" fill="outline" (click)="addEvent()">
          <ion-icon name="add-outline"></ion-icon>
          Add Event
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" *ngFor="let item of data">
        <ion-card>
          <img src="{{item.image}}">
          <ion-card-header>
            <ion-card-title style="text-align: center;">{{item.nama_pemilihan}}</ion-card-title>
            <ion-card-subtitle style="text-align: center;">Periode {{item.periode}}</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="ion-text-center">
            <!-- edit and delete -->
            <ion-button color="primary" fill="outline" (click)="editEvent(item)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger" fill="outline" (click)="deleteEvent(item.id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>