<ion-header>

</ion-header>

<ion-content>
  <img src="../../assets/logo-light.svg">

  <div class="welcome ion-padding">
    <div class="heading ion-padding">
      <img src="../../assets/5.svg">
      <h1>Welcome!</h1>
      <p>Raise your<br>voice with us!</p>
    </div>

    <div class="welcome-button">
      <ion-button expand="block" color="dark" routerLink="/login">Log In</ion-button>
      <br>
      <ion-button expand="block" color="dark" routerLink="/admin/login">Admin Login</ion-button>
    </div>
  </div>
</ion-content>